<a href="https://colab.research.google.com/github/Kranthikumarkadari/Amazon-E-Commerce-Sales-In-India-Dashboard-Analysis-Using-Tableau/blob/main/Python_Absolute_Beginner_Level.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##LET'S START WITH INTEGERS AND FLOATS
## INTEGERS ARE WHOLE NUMBERS
##FLOAT NUMBERS ARE DECIMAL

## ***INTEGERS AND FLOATS***

In [ ]:
##I would like to know what is the data type of the num and num_1
num = 3
num_1 = 3.5

print(type(num))
print(type(num_1))

<class 'int'>
<class 'float'>

## ***### ARITHMETIC OPERATORS***
1. Addition(+)
2. Subtraction(-)
3. Multiplication(*)
4. Division(/)
5. Floor Division(//)
6. Exponent(**)
7.Modulus(%)

In [ ]:
## It's Time to learn ARITHMETIC OPERATIONS on Numerical
num_2 = 3
num_3 = 2

##1. Addition
print(num_2 + num_3)

##2. Subtraction
print(num_2 - num_3)

##3. Multiplication
print(num_2 * num_3)

##4. Division
print(num_2 / num_3)

##5. Floor Division(drops decimal values)
print(num_2 // num_3)

##6. Exponent
print(num_2 ** num_3)

##7. Modulus Operator
print(num_2 % num_3)

5
1
6
1.5
1
9
1

## ***ORDER OF ARITHMETIC OPERATIONS***

In [ ]:
##Below Operation: It multiplies first then adds
print(3*2+1)

##Below Operation: It adds first then mutiplies
print(3*(2+1))

7
9

## ***COMPARISON OPERATORS***
1. Equal(==)
2. Not Equal(!=)
3. Greater Than(>)
4. Less Than(<)
5. Greater Than or Equal(>=)
6. Less Than or Equal(<=)

In [ ]:
## It's Time to learn COMPARISON OPERATIONS
## these are gonna give us BOOLEAN VALUES(TRUE OR FALSE)
num_4 = 4
num_5 = 5

##1. Equal
print(num_4 == num_5)

##2. Not Equal
print(num_4 != num_5)

##3. Greater Than
print(num_4 > num_5)

##4. Less Than
print(num_4 < num_5)

##5. Greater Than or Equal
print(num_4 >= num_5)

##6. Less Than or Equal
print(num_4 <= num_5)

False
True
False
True
False
True

## ***##INCREMENTING OPERATIONS***

In [ ]:
## Incrementing values by using arithmetic operations
num_6 = 5
num_6 = num_6+10
print(num_6)

## This is another way to do it
num_6 +=15
print(num_6)

15
30

In [ ]:
## Multiplication operator with incrementing
num_7 = 20
num_7 *= 2
print(num_7)

40

## ***BUILT-IN Functions***
1. Absolute Function(abs) - Removes the  Negative Sign

2. Round Function(round)
* This will round our values to the nearest
    integer value.
* We can also pass second argument into our
   round function that tells how many digits that we wanna round to.

In [ ]:
## Absolute function
num_8 =-3
print(abs(num_8))

3

In [ ]:
## Round Function
num_9 = 3.1456789
print(round(num_9))

3

In [ ]:
## Round Function - it rounded up to two decimal values
num_9 = 3.1456789
print(round(num_9,2))

3.15

## ***CASTING or TYPE CONVERSION - converting one data type into another data type***

In [ ]:
## Below assigned  100 and 200 values behaves like strings not Numerical values
## So, it gave us result as 100200
num_10 = '100'
num_11 = '200'
print(num_10 + num_11)

100200

In [ ]:
## Let's Cast the above data by using int data type
## Now, it gave us result as 300
num_10 = int(num_10)
num_11 = int(num_11)

print(num_10 + num_11)

300

# ***STRINGS - Working with Textual Data***

In [ ]:
## We can use single Quotes(' ') or Double Quotes(" ") based on the text the variable consists of
message = 'Hello World!'
print(message)

message = "Hello World!"
print(message)

Hello World!

In [ ]:
## In this case: Python do not understand what to do ELSE it just gives us SYNTAX ERROR : INVALID SYNTAX
message = 'Kranthi's World!'
print(message)

## We can resolve this issue either by double quotes or backward slash at the end of the first single quote
message = 'Kranthi\'s World!'
print(message)

Kranthi's World!

***MULTI-LINE STRING*** - We use three quotes at the beginning and end of the string

> Indented block

In [ ]:
message = """Hello, Kranthi Kumar Kadari.
Welcome To IT Industry! """
print(message)

Hello, Kranthi Kumar Kadari.
Welcome To IT Industry!

***To Find How many Characters in STRING - We use LENGTH FUNCTION***

In [ ]:
message = 'Hello World'
print(len(message))

11

***To Access Range of Characters***

In [ ]:
## We use SQUARE BRACKETS([ ]) after string and pass in the index(location of the character) that we want to get
## We can either use 0 to sepcify the beginning or just leave that 0 off bcoz python can understands
## 0 means including Oth index But 5 means Excluding that index position

message = 'Hello World'
print(message[0:5])

message = 'Hello World'
print(message[:5])

Hello
Hello

In [ ]:
## We can either use 11 or just leave that off
message = 'Hello World'
print(message[6:11])

message = 'Hello World'
print(message[6:])

World
World

***To access Individual Characters***

In [ ]:
## To access first character in the string
message = 'Hello World'
print(message[0])

H

In [ ]:
## To access last character in the string
message = 'Hello World'
print(message[10])

d

In [ ]:
## When we try to  access the character which is not in the string it just gives string index out of Range
message = 'Hello World'
print(message[11])

IndexError: ignored

### ***STRING METHODS(mostly used)***
1. Lower Method/function
2. Upper Method/Function
3. Count Method/Function
4. Find Method/Function
5. Replace Method/Function
6. Cancatenate Method/Function

In [ ]:
## 1. Lower Function
message = 'Hello, Kranthi'
print(message.lower())

hello, kranthi

In [ ]:
## 2. Upper Function
message = 'Hello, Kranthi'
print(message.upper())

HELLO, KRANTHI

In [ ]:
## 3. Count Function - it gives count or frequency of characters or word.
message = 'Hello, Kranthi'
print(message.count('Hello'))

print(message.count('l'))

1
2

In [ ]:
## 4. Find Function - to find index of where certain characters can be found
## If we pass the string or character that does not exist in our variable it gives us negative value(-1)
message = 'Hello, Kranthi'

print(message.find('e'))

print(message.find('Kranthi'))


print(message.find('Universe'))

1
7
-1

In [ ]:
## 5. Replace Function - to replace some characters in the string
## We can use the same variable or we can also create a new variable
message = 'Hello, Kranthi'
message = message.replace('Kranthi','World')
print(message)

message = 'Hello, Kranthi'
new_message = message.replace('Kranthi','World')
print(new_message)

Hello, World
Hello, World

In [ ]:
## CONACATENATE(+) = Adding two strings together
## 1. By using +
## 2. Formatted String(using place holders { })
## 3. By using F - STRINGS(new function)

greeting = 'Hello'
name = 'Kranthi Kumar Kadari'
message = greeting + ',' + name

print(message)

Hello,Kranthi Kumar Kadari

In [ ]:
## CONACATENATE(+)
greeting = 'Hello'
name = 'Kranthi Kumar Kadari'
message = greeting + ',' + name + '. Welcome to this IT World!'

print(message)

Hello,Kranthi Kumar Kadari. Welcome to this IT World!

In [ ]:
## CONACATENATE using place holders instead of variables(FORMATTED STRINGS)
greeting = 'Hello'
name = 'Kranthi Kumar Kadari'
message = '{},{}. Welcome to IT Industry!'.format(greeting,name)

print(message)

Hello,Kranthi Kumar Kadari. Welcome to IT Industry!

In [ ]:
## CONACATENATE using F-STRING ( passing variables into the Place Holders({ })
## to make string formatting AS SIMPLE AS POSSIBLE
greeting = 'Hello'
name = 'Kranthi Kumar Kadari'
message = f'{greeting},{name}. Welcome to IT Industry!'

print(message)

Hello,Kranthi Kumar Kadari. Welcome to IT Industry!

In [ ]:
## We can also write CODE within the PLACE HOLDER
greeting = 'Hello'
name = 'Kranthi Kumar Kadari'
message = f'{greeting},{name.upper()}. Welcome to IT Industry!'

print(message)

Hello,KRANTHI KUMAR KADARI. Welcome to IT Industry!

# ***LISTS***- [ ]
Lists are Mutable and allows us to work with list of values

In [ ]:
## Creating an  Empty List
empty_list = [ ]
## or
empty_list = list()

In [ ]:
courses = ['History','Maths','Physics','DataScience']
print(courses)

['History', 'Maths', 'Physics', 'DataScience']

In [ ]:
## To find out length of the list
print(len(courses))

4

In [ ]:
##To access list values

## beginning value
print(courses[0])

## last value
print(courses[-1])

##range of values
print(courses[0:2])
print(courses[:2])

print(courses[2:])

History
DataScience
['History', 'Maths']
['History', 'Maths']
['Physics', 'DataScience']

### ***LIST METHODS/FUNCTIONS(Most Used):***
1. Append
2. Insert
3. Extend
4. Remove& pop
5. sort(Ascending or descending order)
6. Sorted Function
6. Reverse
7. Max-Min-Sum(Built-In Functions)
8. Index Method
9. In operator

In [ ]:
## 1. APPEND- it adds the end either another list or value
courses = ['History','Maths','Physics','DataScience']
courses.append('Arts')
print(courses)


courses_1 = ['DataAnalyst','DataEngineer']
courses.append(courses_1)
print(courses)

print(len(courses))

print(courses[5])

['History', 'Maths', 'Physics', 'DataScience', 'Arts']
['History', 'Maths', 'Physics', 'DataScience', 'Arts', ['DataAnalyst', 'DataEngineer']]
6
['DataAnalyst', 'DataEngineer']

In [ ]:
## 2. INSERT - If we wanna to add a value or another list to SPECIFIC LOCATION into our list
courses = ['History','Maths','Physics','DataScience']
courses.insert(0,'Art')
print(courses)

## By using insert function: complete list will be added to the actual list
courses_1 = ['DataAnalyst','DataEngineer']
courses.insert(0,courses_1)
print(courses)

['Art', 'History', 'Maths', 'Physics', 'DataScience']
[['DataAnalyst', 'DataEngineer'], 'Art', 'History', 'Maths', 'Physics', 'DataScience']

In [ ]:
## 3. EXTEND Function:
## By using Extend function: Only list values will be added to the actual list
courses = ['History','Maths','Physics','DataScience']
courses_1 = ['DataAnalyst','DataEngineer']
courses.extend(courses_1)
print(courses)

['History', 'Maths', 'Physics', 'DataScience', 'DataAnalyst', 'DataEngineer']

In [ ]:
## 4. REMOVE & POP Method:
## Remove function will delete the value from the list
## Pop function will delete the last element(stack and Queue Operations)
courses = ['History','Maths','Physics','DataScience']

## Deletes History from the list
courses.remove('History')
print(courses)

## Deletes last element from the list
courses.pop()
print(courses)

## we can print the popped element from the list
popped_element = courses.pop()
print(popped_element)

['Maths', 'Physics', 'DataScience']
['Maths', 'Physics']
Physics

In [ ]:
## SORTING THE LIST VALUES(ASCENEDING OR DESCENDING ORDER)
## 5. SORT Function
## 6. REVERSE Function
## 7. SORTED Function

## Sorts ASCENDING according to ALPHABETICAL ORDER
courses = ['History','Maths','Physics','DataScience']
courses.sort()
print(courses)

## Sorts ascending
nums = [3,1,5,2,4]
nums.sort()
print(nums)

['DataScience', 'History', 'Maths', 'Physics']
[1, 2, 3, 4, 5]

In [ ]:
## To sort Descending Order: Couple of ways to day it
## a). Sort and reverse

## Sorts DESCENDING ORDER according to ALPHABETICAL ORDER
courses = ['History','Maths','Physics','DataScience']
courses.sort()
courses.reverse()
print(courses)

## Sorts descending
nums = [3,1,5,2,4]
nums.sort()
nums.reverse()
print(nums)

['Physics', 'Maths', 'History', 'DataScience']
[5, 4, 3, 2, 1]

In [ ]:
## b) By adding " reverse = True " to the sort function
courses = ['History','Maths','Physics','DataScience']
courses.sort(reverse = True)
print(courses)

## Sorts descending
nums = [3,1,5,2,4]
nums.sort(reverse = True)
print(nums)

['Physics', 'Maths', 'History', 'DataScience']
[5, 4, 3, 2, 1]

In [ ]:
nums_1 = [1,3,4,2,5,6]
print(min(nums_1))
print(max(nums_1))
print(sum(nums_1))

1
6
21

***8. INDEX METHOD - to find index of a certain value in the list***

In [ ]:
## To get index of a value in a LIST
courses = ['History','Maths','Physics','DataScience']
print(courses.index('Maths'))

1

In [ ]:
## When we try to find to find out index of does not exists value.It gives us an error
courses = ['History','Maths','Physics','DataScience']
print(courses.index('Arts'))

ValueError: ignored

***9. IN Operator - To check if a value exists in the List or Not***
* It returns True or False

In [ ]:
## To check if a value exists in a LIST or Not
courses = ['History','Maths','Physics','DataScience']
print('Maths' in courses)

print('Arts' in courses)

True
False

***PRINTING all the LIST values BY USING FOR LOOP AND ENUMERATE function***

In [ ]:
## Printing all the list values using FOR LOOP
## item is not a KEYWORD. It is just a variable to iterarte in a loop
courses = ['History','Maths','Physics','DataScience']
for item in courses:
  print(item)

History
Maths
Physics
DataScience

In [ ]:
## Printing all the list values with indexes using FOR LOOP and ENUMERATED function
courses = ['History','Maths','Physics','DataScience']
for item in enumerate(courses):
  print(item)

(0, 'History')
(1, 'Maths')
(2, 'Physics')
(3, 'DataScience')

In [ ]:
## Printing all the list values with selective indexes using FOR LOOP and ENUMERATED function
courses = ['History','Maths','Physics','DataScience']
for item in enumerate(courses, start = 1):
  print(item)

(1, 'History')
(2, 'Maths')
(3, 'Physics')
(4, 'DataScience')

***Converting LIST VALUES into STRING Comma Separated Values and  VICE-VERSA***
 1. JOIN FUNCTION(List values to String CSV)
 2. SPLIT FUNCTION(String csv to List)

In [ ]:
## 1. Converting List Values into String CSV

courses = ['History','Maths','Physics','DataScience']
print(courses)

## We've used COMMA( , )' here.  We can use anything
courses = ['History','Maths','Physics','DataScience']
course_str = ', '.join(courses)
print(course_str)

## We've used HYPHEN( - ) here. We can use anything
courses = ['History','Maths','Physics','DataScience']
course_str = '- '.join(courses)
print(course_str)

['History', 'Maths', 'Physics', 'DataScience']
History, Maths, Physics, DataScience
History- Maths- Physics- DataScience

In [ ]:
## 1. Converting  String CSV into List Values
courses = ['History','Maths','Physics','DataScience']
course_str = ', '.join(courses)
new_list = course_str.split(', ')
print(new_list)

['History', 'Maths', 'Physics', 'DataScience']

### ***TUPLES - parenthesis( )***
 * Tuples are similar to LISTS but we can't modify tuples.So, Tuples are called IMMUTABLE and Lists are MUTABLE.

* We can't APPEND,REMOVE,INSERT,EXTEND or anything like that in tuple But we can loop through tuples,we can access the values , so on.
* To insert values into Tuple Firstly We should Convert a tuple to a list using list() Then Insert an item using insert() .

In [ ]:
## Creating an Empty tuple
empty_tuple = ()
## or
empty_tuple = tuple()

In [2]:
tuple_1 = ('History','Maths','Physics','DataScience')
print(tuple_1)

('History', 'Maths', 'Physics', 'DataScience')

In [24]:
## Accessing individual and Range of values from the Tuples
print(tuple_1[0])

print(tuple_1[-1])

print(tuple_1[:2])

print(tuple_1[2:])

History
DataScience
('History', 'Maths')
('Physics', 'DataScience')

In [34]:
## To find index of a certain Value
tuple_1 = ('History','Maths','Physics','DataScience')

print(tuple_1.index('Physics'))
print(tuple_1.index('History'))
print(tuple_1.index('Maths'))

2
0
1

In [35]:
## To find index of a Value That Does not Exists In the TUPLE
tuple_1 = ('History','Maths','Physics','DataScience')

## ValueError: tuple.index(x): x not in tuple
print(tuple_1.index('Arts'))

ValueError: ignored

In [36]:
## To check If a Value Exists In Tuple or Not
## That gives Boolean Values
tuple_1 = ('History','Maths','Physics','DataScience')
print('Maths' in tuple_1)

True

In [37]:
## To check If a Value Does Not Exists In Tuple
## That gives Boolean Values
tuple_1 = ('History','Maths','Physics','DataScience')
print('Arts' in tuple_1)

False

In [41]:
## SORTING Tuples ASCENDING or DESCENDING using SORTED FUNCTION

tuple_1 = ('History','Maths','Physics','DataScience')
tuple_new = sorted(tuple_1)
print(tuple_new)

## Ascending order
nums = (3,1,5,7,2,8,4,6)
sorted_nums = sorted(nums)
print(sorted_nums)

## Descending order
nums = (3,1,5,7,2,8,4,6)
sorted_nums = sorted(nums)
sorted_nums.reverse()
print(sorted_nums)

['DataScience', 'History', 'Maths', 'Physics']
[1, 2, 3, 4, 5, 6, 7, 8]
[8, 7, 6, 5, 4, 3, 2, 1]

In [40]:
## Finding MIN, MAX, AND SUM of Tuples
nums = (3,1,5,7,2,8,4,6)
print(min(nums))
print(max(nums))
print(sum(nums))

1
8
36

In [6]:

tuple_1 = ('History','Maths','Physics','DataScience')
tuple_2 = tuple_1
print(tuple_1)
print(tuple_2)

('History', 'Maths', 'Physics', 'DataScience')
('History', 'Maths', 'Physics', 'DataScience')

In [9]:
tuple_1 = ('History','Maths','Physics','DataScience')
tuple_2 = tuple_1
print(tuple_1)
print(tuple_2)

## TypeError: 'tuple' object does not support item assignment
tuple_1[0] = 'Arts'

print(tuple_1)
print(tuple_2)

('History', 'Maths', 'Physics', 'DataScience')
('History', 'Maths', 'Physics', 'DataScience')

TypeError: ignored

In [20]:
## Using Type and Except Block::
tuple_1 = ('History','Maths','Physics','DataScience')
tuple_2 = tuple_1
print(tuple_1)
print(tuple_2)


try:
    tuple_1[0] = "Immutable"
    print(tuple_1)
    print(tuple_2)
except TypeError:
    print( "Tuples cannot be modified because they are immutable" )

('History', 'Maths', 'Physics', 'DataScience')
('History', 'Maths', 'Physics', 'DataScience')
Tuples cannot be modified because they are immutable

***Let's compare same piece of code with LISTS***

In [8]:
### LISTS ARE MUTABLE(WE CAN MODIFY THE VALUES)
list_1 = ['History','Maths','Physics','DataScience']
list_2 = list_1
print(list_1)
print(list_2)

## WE CAN MODIFY THE VALUE IN ASSIGMENT
list_1[0] = 'Arts'

print(list_1)
print(list_2)

['History', 'Maths', 'Physics', 'DataScience']
['History', 'Maths', 'Physics', 'DataScience']
['Arts', 'Maths', 'Physics', 'DataScience']
['Arts', 'Maths', 'Physics', 'DataScience']

### Tuple Operations:

In [10]:
## Using for Loop accessing every value in TUPLE
tuple_1 = ('History','Maths','Physics','DataScience')
for item in tuple_1:
  print(item)

History
Maths
Physics
DataScience

In [13]:
## Using for Loop with ENUMERATE FUNCTION
## How do we access every value  in TUPLE along with their indexes
tuple_1 = ('History','Maths','Physics','DataScience')
for item in enumerate(tuple_1):
  print(item)

(0, 'History')
(1, 'Maths')
(2, 'Physics')
(3, 'DataScience')

In [14]:
## Using for Loop with ENUMERATE FUNCTION
## How do we access every value  in TUPLE along with their indexes but
## i wanna specify the my own index value
tuple_1 = ('History','Maths','Physics','DataScience')
for item in enumerate(tuple_1, start = 1):
  print(item)

(1, 'History')
(2, 'Maths')
(3, 'Physics')
(4, 'DataScience')

In [15]:
## How do we turn this TUPLE into STRING CSV
## With the help of JOIN

tuple_1 = ('History','Maths','Physics','DataScience')
tuple_str = ', '.join(tuple_1)
print(tuple_str)

History, Maths, Physics, DataScience

In [22]:
## How do we turn STRING CSV back to TUPLE
## With the help of SPLIT

tuple_1 = ('History','Maths','Physics','DataScience')
print(tuple_1)

tuple_str = ', '.join(tuple_1)
print(tuple_str)

new_tuple = tuple_str.split(', ') ## Converting Into LIST
print(new_tuple)

('History', 'Maths', 'Physics', 'DataScience')
History, Maths, Physics, DataScience
['History', 'Maths', 'Physics', 'DataScience']

### ***SET - CURLY BRACES or Flower Brackets { }***
* Set values are UNORDERED(they do not care about order) and No Duplicatives(it helps us to remove duplicates)
* Orders can change with each execution

In [ ]:
## Creating an Empty set
empty_set = {}
## or
empty_set = set()

In [42]:
set_1 = {'History','Maths','Physics','DataScience'}
print(set_1)

{'Physics', 'History', 'DataScience', 'Maths'}

In [60]:
## Set removes duplicate values - It just printed sigle MATHS only

set_2 = {'History','Maths','Physics','DataScience','Maths'}
print(set_2)

{'Physics', 'History', 'DataScience', 'Maths'}

In [61]:
## To test whether a value is part of a SET or NOT. This is called " MEMBERSHIP TEST"
## We use IN Operator
## We could also do that by LISTS & TUPLES but SETS are OPTIMIZED FOR THIS.

set_1 = {'History','Maths','Physics','DataScience'}
print('Maths' in set_1)

True

In [72]:
##SETS EITHER SHARE OR DON NOT SHARE WITH OTHER SETS:
## 1. INTERSECTION 2. DIFFERENCE 3. UNION

mechanical_courses = {'Physics','Maths','statistics','FEA'}
it_courses = {'Ai','Maths','Physics','DataScience'}

## 1. INTERSECTION
print(mechanical_courses.intersection(it_courses))

## 2. DIFFERENCE
print(mechanical_courses.difference(it_courses))

## 3. UNION
print(mechanical_courses.union(it_courses))

{'Maths', 'Physics'}
{'FEA', 'statistics'}
{'FEA', 'Physics', 'statistics', 'Maths', 'Ai', 'DataScience'}

### ***CREATING AN EMPTY LIST, EMPTY TUPLES,EMPTY SETS***

In [76]:
## Empty List
empty_list = [ ]
## or
empty_list = list()

## Empty tuple
empty_tuple = ()
## or
empty_tuple = tuple()

## Empty set
empty_set = {} ## This is not right it is a dictionary
## or
empty_set = set()

### ***DICTIONARIES - Working with KEY-VALUE pairs {'name':'Kranthi'}***

* Keys are UNIQUE IDENTIFIERS(where we can find our data)
* Value is the data point.

In [77]:
## Dicitionaries declaration and Initialization
## Keys can be any data type
student = { 'name' : 'Kranthi Kumar','age' : 26,'courses' : ['Data Science','Data Analyst','Data Engineering']}
student_1 = {1 :'Sreemanth Yadav', 2 : 'Srrenidhi Yadav', 3 : 'Soniya'}

print(student)
print(student_1)

{'name': 'Kranthi Kumar', 'age': 26, 'courses': ['Data Science', 'Data Analyst', 'Data Engineering']}
{1: 'Sreemanth Yadav', 2: 'Srrenidhi Yadav', 3: 'Soniya'}

In [81]:
## To access/get values of One Key
print(student['name'])
print(student['age'])
print(student['courses'])

print(student_1[1])
print(student_1[2])
print(student_1[3])

Kranthi Kumar
26
['Data Science', 'Data Analyst', 'Data Engineering']
Sreemanth Yadav
Srrenidhi Yadav
Soniya

In [82]:
## To access/get values of One Key That Does Not Exist
print(student['phone'])

KeyError: ignored

In [84]:
## Thowing an error when a key does not exist might not always what we want
## sometimes we may want to return "NONE" or "Default-Value"
## To do this we use DICITIONARIES - "get method "

print(student.get('phone'))
## it just gave us None instead of KeyError

print(student.get('phone','Not Found'))
## it just gave us what we wanna print (Not Found) instead of KeyError

None
Not Found

In [89]:
## Adding new entry into Our Dictionary

student = { 'name' : 'Kranthi Kumar','age' : 26,'courses' : ['Data Science','Data Analyst','Data Engineering']}
print(student)

student['phone'] = '+44 - 7575087597'
print(student)

## Updating the value into our Dictionary
student['name'] = 'Sreemanth Yadav'
print(student)
##or By using UPDATE METHOD
student.update({'name':'Sreenidhi','age':3,'courses':['Numbers','rhymes','Poems'],'Phone':'+44-7888681783'})
print(student)

{'name': 'Kranthi Kumar', 'age': 26, 'courses': ['Data Science', 'Data Analyst', 'Data Engineering']}
{'name': 'Kranthi Kumar', 'age': 26, 'courses': ['Data Science', 'Data Analyst', 'Data Engineering'], 'phone': '+44 - 7575087597'}
{'name': 'Sreemanth Yadav', 'age': 26, 'courses': ['Data Science', 'Data Analyst', 'Data Engineering'], 'phone': '+44 - 7575087597'}
{'name': 'Sreenidhi', 'age': 3, 'courses': ['Numbers', 'rhymes', 'Poems'], 'phone': '+44 - 7575087597', 'Phone': '+44-7888681783'}

In [94]:
## DELETE A SPECIFIC KEY AND VALUE- we use DEL keyword
## 1. Del method 2. Pop method
del student['name']
print(student)

popped_courses = student.pop('courses')
print(student)
print(popped_courses)

{'courses': ['Numbers', 'rhymes', 'Poems'], 'Phone': '+44-7888681783'}
{'Phone': '+44-7888681783'}
['Numbers', 'rhymes', 'Poems']

In [99]:
## How can we laccess/get all the keys and Its values of our Dictionary
student = { 'name' : 'Kranthi Kumar','age' : 26,'courses' : ['Data Science','Data Analyst','Data Engineering']}
print(len(student))

## To get all the keys
print(student.keys())

## to get all the values
print(student.values())

## To get all the key-value pairs
print(student.items())

3
dict_keys(['name', 'age', 'courses'])
dict_values(['Kranthi Kumar', 26, ['Data Science', 'Data Analyst', 'Data Engineering']])
dict_items([('name', 'Kranthi Kumar'), ('age', 26), ('courses', ['Data Science', 'Data Analyst', 'Data Engineering'])])

In [100]:
##How can we get all the keys by using for loop
student = { 'name' : 'Kranthi Kumar','age' : 26,'courses' : ['Data Science','Data Analyst','Data Engineering']}
for key in student:
  print(key)

name
age
courses

In [102]:
##How can we get all the keys and values by using for loop
student = { 'name' : 'Kranthi Kumar','age' : 26,'courses' : ['Data Science','Data Analyst','Data Engineering']}
for key,value in student.items():
  print(key,value)

name Kranthi Kumar
age 26
courses ['Data Science', 'Data Analyst', 'Data Engineering']